<div class="container text-center">

<h2>Add some important factors for your decision:</h2>

<h2><%= @decision.text %></h2>

	<div class="addCri">

	<%= form_for [@decision, @criterion] do |f| %>
		<%= f.text_field :text, placeholder: "What's a criterion for this decision?", :class => "criInput" %>
		<br />
		<%= f.submit :class => "btn btn-default btn-md btn-bluer" %>
	<% end %>

	</div>

</div>