<div class="container">

<h1 class="text-center">My Decisions</h1>

<ul class="decisionsList">
<% @decisions.each do |d| %>
	<li>
		<%= link_to d.text, decision_criteria_path(d.id) %>
		<br />
		<%= link_to "make this decision!", decision_criteria_path(d.id), :class => "btn btn-default btn-md btn-bluer" %>
		<%= button_to "delete this decision", decision_path(d.id), :class => "btn btn-default btn-md btn-red", method: :delete %>
	</li>
<% end %>
</ul>


	<%= link_to "Add a new decision", new_decision_path if current_user %>
		

</div>