<!-- <div class="topBar">

	<button onclick="window.location.href='/decisions'" class="btn btn-default btn-md btn-bluer prev">See Previous Decisions</button>

</div> -->

<div class="container newD">

	<h1 class="text-center">Let's help you decide.</h1>

	<div class="decisionInput text-center">

	<%= form_for @decision do |f| %>
		<%= f.text_field :text, :class => "decisionInputTxt", placeholder: "What's the decision?" %> <br />
		<%= f.submit "Answer", :class => "btn btn-default btn-md btn-bluer" %>
	<% end %>

	</div>

</div>