/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

 @import 'bootstrap';

body {
	width: 100%;
	height: 100%;
}

 .btn-blue {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 100px;
 	margin-top: 1em;
 }

  .btn-bluer {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 160px;
 	margin-top: 1em;
 }

   .btn-grey {
 	background-color: white;
 	border: none;
 	color: #777;
 	width: 100px;
 	margin-top: -.1em;
 	margin-right: .5em;
 	margin-left: .5em;
 	padding-bottom: 1.8em;
 	height: 26px;
 }

   .navLinks .btn-greye {
 	background-color: white;
 	border: none;
 	color: #777 !important;
 	width: 100px;
 	margin-top: -.1em;
 	margin-right: .5em;
 	padding-bottom: 1.8em;
 	height: 26px;
 }

   .btn-bluey {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 1em;
 }

    .btn-redy {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 1em;
 }

 .btn-log {
 	height: 30px;
 	background-color: rgba(87, 211, 25, .6);
 	color: white;
 	border: none;
 	margin-top: .8em;
 	padding-bottom: 1.8em;
	-webkit-transition: background-color ease-out .3s;
	-moz-transition: background-color ease-out .3s;
	-o-transition: background-color ease-out .3s;
	transition: background-color ease-out .3s;
 }

  .btn-log:hover {
  	background-color: rgba(87, 211, 25, 1);
 	color: white;
	-webkit-transition: background-color ease-out .3s;
	-moz-transition: background-color ease-out .3s;
	-o-transition: background-color ease-out .3s;
	transition: background-color ease-out .3s;
 }

ul .btn-log {
 	 padding-top: -30px !important;
 }

   .btn-green {
 	background-color: #66BD15;
 	border: none;
 	color: white;
 	width: 130px;
 	margin-top: 1em;
 }

    .btn-greeny {
 	background-color: #66BD15;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 0em;
 }

   .btn-red {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 160px;
 	margin-top: 1em;
 }

    .btn-reder {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 40px;
 	margin-top: 1.8em;
 }

    .btn-rederer {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 40px;
 	margin-top: 1em;
 }

    .btn-redr {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 130px;
 	margin-top: 1em;
 }

 .logIn {
 	background-color: #dedede;
 	width: 300px;
 	height: 250px;
 	padding: 1em;
 	margin: 0 auto;
 	margin-top: 3em;
 }

 .inputEmail {
 	margin-bottom: .2em;
 }

  .inputEmailer {
 	margin-top: 1em;
 	height: 30px;
 	margin-bottom: .8em;
 	width: 220px;
 }

   .inputEmaile {
 	margin-top: 1em;
 	height: 30px;
 	margin-bottom: .8em;
 	width: 170px;
 }

 .topBar {
 	position: fixed;
 	top: -.3em;
 	float: right;
 	right: 10em;
 }

 .prev {
 	 width: 250px;
 	 background-color: #66BD15;
 }

 .wider {
 	width: 160px;
 }

 .myNavBar {
 	background-color: rgba(73, 131, 230, .7);
	-webkit-transition: background-color ease-out .4s;
	-moz-transition: background-color ease-out .4s;
	-o-transition: background-color ease-out .4s;
	transition: background-color ease-out .4s;
 	color: white;
 	border-radius: none !important;
 	border: none !important;	
 }

 .myNavBar:hover {
 	 background-color: rgba(73, 131, 230, 1);
	-webkit-transition: background-color ease-out .4s;
	-moz-transition: background-color ease-out .4s;
	-o-transition: background-color ease-out .4s;
	transition: background-color ease-out .4s;

 }

 .myTitle {
 	color: white !important;
 	margin-top: .05em;
 	font-family: 'helvetica', sans-serif;
 	font-weight: 700;
 	font-size: 2em;
 }

 .guru {
 	font-family: 'Dancing Script', cursive;
 	font-weight: 700;
}

.navLinks a {
 	color: white !important;
 }

.navbar {
  border-radius: (0) !important;
}

.signBtn {
	margin-bottom: 1.2em;
}

#mySpace {
	margin-top: 4em !important;
}