/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

body {
	width: 100%;
	height: 100%;
}

 .btn-blue {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 100px;
 	margin-top: 1em;
 }

  .btn-bluer {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 160px;
 	margin-top: 1em;
 }

   .btn-bluey {
 	background-color: #4983E6;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 1em;
 }

    .btn-redy {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 1em;
 }

   .btn-green {
 	background-color: #66BD15;
 	border: none;
 	color: white;
 	width: 130px;
 	margin-top: 1em;
 }

    .btn-greeny {
 	background-color: #66BD15;
 	border: none;
 	color: white;
 	width: 250px;
 	margin-top: 1em;
 }

   .btn-red {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 160px;
 	margin-top: 1em;
 }

    .btn-redr {
 	background-color: #FF3333;
 	border: none;
 	color: white;
 	width: 130px;
 	margin-top: 1em;
 }

 .logIn {
 	background-color: #dedede;
 	width: 300px;
 	height: 250px;
 	padding: 1em;
 	margin: 0 auto;
 	margin-top: 3em;
 }

 .inputEmail {
 	margin-bottom: .2em;
 }

 .topBar {
 	position: fixed;
 	top: -.5em;
 	float: right;
 	right: .5em;
 }

 .prev {
 	 width: 250px;
 	 background-color: #66BD15;
 }

 .wider {
 	width: 200px;
 }