// Place all the styles related to the decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.decisionInput {
	margin-top: 2em;
}

.decisionInputTxt {
	width: 500px;
}

.newD {
	margin-top: 8em;
}

.decisionsList li {
	list-style: none;
	font-size: 2em;
	margin-top: 1em;
	text-align: center;
}

.dTxt {
	color: black;
}

.decTxt {
	padding-top: .2em;
	text-align: left;
}

.decTxt a {
	color: black;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
}

.decTxt a:hover {
	text-decoration: none;
	color: black;
}

.addCrit {
	margin-top: 5em;
}